.menu {
  display: inline-flex;
  background-color: #66a7f3;
  width: 100%;
  height: 100px;
  color:white;
  padding-left: 15px;
  font-size: 20px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin-bottom: 40px;


}
.menu a {
  text-decoration: none;
  background-color: #66a7f3;
  width: 100%;
  color:white;
  margin-top: 40px;
  margin-left: 60px;
  font-size: 25px;
  height: 20px;
  width: 30px;

}

.curse {
  background-color: lightgrey;
  margin-left: 2%;
  margin-right: 2%;
  color: #585d64;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;

}

.watchkit h1 {
  color: #0465c0;
}

.watchkit {
  color: black;
  margin-left: 2%;
  margin-right: 2%;
}

.comment {
  background-color: #f39018;
  padding-left: 10px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 0px;

}

.content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  max-width: 1080px;
  margin: 0 auto;
  color: black;
  text-align:center;
}
.content div{
  background: #dddee0;
}

.content a{
  font-size: 40px;
  
}
.content p {
  font-size: 20px;
  color: #b8babd;
}
